.sideBar {
  display: flex;
  flex-direction: column;
}

.menuList {
  user-select: none;
  overflow: auto;
  flex: 1;
  summary {
    padding: 6px 0;
    font-weight: bold;
  }
  details {
    li {
      margin-right: 4px;
      list-style: none;
      display: block;
      text-decoration: none;
      color: inherit;
      padding: 6px 1em;
      border-radius: 2px;
      cursor: pointer;
      &:hover {
        background-color: rgba(var(--foreground-color), 0.08);
      }
      &.active {
        background-color: rgba(var(--foreground-color), 1);
        color: rgba(var(--background-color));
      }
    }
  }
}

.footer {
  justify-self: flex-end;
  border-top: 1px solid rgb(var(--border-color));
  font-size: 12px;
  text-align: center;
  padding: 6px;
  a {
    color: rgb(var(--foreground-color), 0.36);
  }
}
