.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}
.badgeList {
  flex-grow: 1;
  overflow: auto;
  padding-right: 16px;
}

.configurationContainer {
  width: 38%;
  border-left: 1px solid rgb(var(--border-color));
  overflow: hidden;
}

.badgeBlock {
  border-radius: 4px;
  background-color: rgb(var(--background-color));
  padding: 12px 20px;
  border: 1px solid rgb(var(--border-color));
  margin-top: 8px;
  cursor: pointer;
  &:hover {
    border-color: rgba(var(--foreground-color), 0.3);
  }
  &.selected {
    border-color: rgb(var(--foreground-color));
  }
  transition: border-color 0.1s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .checkIcon {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(50%, -50%);
  }
}

.badgePreview {
  object-fit: scale-down;
  object-position: right center;
  width: 120px;
  height: 30px;
}

.sectionHeaderButton {
  width: 100%;

  & + .sectionHeaderButton {
    margin-top: 6px;
  }
}
