.container {
  height: 100%;
  > aside {
    width: 30%;
    height: 100%;
    background-color: rgba(var(--background-color), 0.4);
    float: left;
  }
  > main {
    width: 70%;
    height: 100%;
    float: right;
  }
}

.menuList {
  user-select: none;
  overflow: auto;
  summary {
    padding: 6px 0;
    font-weight: bold;
  }
  details {
    li {
      margin-right: 4px;
      list-style: none;
      display: block;
      text-decoration: none;
      color: inherit;
      padding: 6px 1em;
      border-radius: 2px;
      cursor: pointer;
      &:hover {
        background-color: rgba(var(--foreground-color), 0.08);
      }
      &.active {
        background-color: rgba(var(--foreground-color), 1);
        color: rgba(var(--background-color));
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    > aside {
      width: 100%;
      display: block;
      box-shadow: 0px 1px rgb(0 0 0 / 10%);
    }
    > main {
      width: 100%;
      display: block;
    }
  }
}
